@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  .fr-logo {
    color: var(--color-text);
    font-family: var(--font-family-logo);
    font-size: 2em;
  }
  .ar-logo {
    color: var(--color-text);
    font-family: var(--font-family-logo-ar);
    font-size: 1.9em;
  }
}
